<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta
      name="description"
      content="Apple Community - A place to discuss Apple tech and share ideas."
    />
    <link rel="manifest" href="./manifest.json" /> 
    <title>Apple Student Community || Apple</title>
    <script defer="defer" src="./static/js/main.3b155fbf.js"></script>
    <link href="./static/css/main.28f2623b.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
</body>

</html>
